In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/googlenewsvectorsnegative300/GoogleNews-vectors-negative300.bin

In [2]:
import gensim
from gensim.models import word2vec
from gensim.models import KeyedVectors
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
word_vectors = KeyedVectors.load_word2vec_format('../input/googlenewsvectorsnegative300/GoogleNews-vectors-negative300.bin',binary=True)

In [4]:
type(word_vectors.vocab)

dict

In [5]:
v_cricket = word_vectors['cricket']
v_car = word_vectors['car']

In [6]:
print(v_cricket.shape)
print(v_car.shape)

(300,)
(300,)

In [7]:
cosine_similarity([v_cricket],[v_car])

array([[0.08744669]], dtype=float32)

In [8]:
def odd_one_out(words):
    
    all_words_vectors = [word_vectors[w] for w in words]
    avg_vector = np.mean(all_words_vectors , axis = 0)
    print(avg_vector.shape)
    
    odd_one_out = None
    min_similarity = 1.0
    
    for w in words:
        sim = cosine_similarity([word_vectors[w]] , [avg_vector])
        if sim < min_similarity:
            min_similarity = sim
            odd_one_out = w
            
        print("Similairy btw %s and avg vector is %.2f"%(w,sim))
            
    return odd_one_out

In [9]:
input_1 = ["apple","mango","juice","party","orange"] 
input_2 = ["music","dance","sleep","dancer","food"]        
input_3  = ["match","player","football","cricket","dancer"]
input_4 = ["india","paris","russia","france","germany"]

In [10]:
odd_one_out(input_1)

(300,)
Similairy btw apple and avg vector is 0.78
Similairy btw mango and avg vector is 0.76
Similairy btw juice and avg vector is 0.71
Similairy btw party and avg vector is 0.36
Similairy btw orange and avg vector is 0.65

'party'

In [11]:
odd_one_out(input_2)

(300,)
Similairy btw music and avg vector is 0.66
Similairy btw dance and avg vector is 0.81
Similairy btw sleep and avg vector is 0.51
Similairy btw dancer and avg vector is 0.72
Similairy btw food and avg vector is 0.52

'sleep'

In [12]:
odd_one_out(input_3)

(300,)
Similairy btw match and avg vector is 0.58
Similairy btw player and avg vector is 0.68
Similairy btw football and avg vector is 0.72
Similairy btw cricket and avg vector is 0.70
Similairy btw dancer and avg vector is 0.53

'dancer'

In [13]:
odd_one_out(input_4)

(300,)
Similairy btw india and avg vector is 0.81
Similairy btw paris and avg vector is 0.75
Similairy btw russia and avg vector is 0.79
Similairy btw france and avg vector is 0.81
Similairy btw germany and avg vector is 0.84

'paris'

Word Analogies

In [14]:
def predict_word(a,b,c,word_vectors):
    """Accepts a triad of words, a,b,c and returns d such that a is to b : c is to d"""
    a,b,c = a.lower(),b.lower(),c.lower()
    
    # similarity |b-a| = |d-c| should be max
    max_similarity = -100 
    
    d = None
    
    words = word_vectors.vocab.keys()
    
    wa,wb,wc = word_vectors[a],word_vectors[b],word_vectors[c]
    
    #to find d s.t similarity(|b-a|,|d-c|) should be max
    
    for w in words:
        if w in [a,b,c]:
            continue
        
        wv = word_vectors[w]
        sim = cosine_similarity([wb-wa],[wv-wc])
        
        if sim > max_similarity:
            max_similarity = sim
            d = w
            
    return d

In [15]:
word_vectors.most_similar(positive=['woman', 'king'], negative=['man'], topn=1)

[('queen', 0.7118192911148071)]

In [17]:
triad_2 = ("man","woman","prince")
predict_word(*triad_2,word_vectors)

'princess'

In [18]:
df = pd.read_csv('../input/test-dataset/Test.csv')

In [19]:
df

          Word1      Word2      Word3      Word4     Word5
0      elephant       lion      tiger       goat     snake
1           man  policeman    fireman    teacher   postman
2         plane       bird     rocket    balloon       cat
3         onion     celery    lettuce  pineapple    potato
4         India   football     hockey    cricket  swimming
5           who        why       what      where        is
6            on         in       over      their       was
7         India  Australia      Japan     Russia     China
8        Dollar     Rupees      Euros      Cents     Money
9           eat      sleep      drink      think     dance
10          car    scooter       bike    bicycle      ship
11       Poland     Russia    England       Rome   Ukraine
12         Lake        Sea      River       Pool      Pond
13          Sun       Moon       Star       Mars     Egypt
14          fox       wolf     jackal      mouse   panther
15         veil     turban     helmet      shirt       hat
16      Physics  Chemistry  Geography     Botany  Universe
17  Assassinate       Kill     Kidnap       Stab    Murder
18       Hostel      Hotel        Inn       Club     Motel
19        Earth       Mars    Neptune      Pluto       Sun

In [28]:
lst = []

print(df.shape)

l = df.shape[0]
for i in range(l):
    lst.append(df.loc[i , "Word1":"Word5"])

(20, 5)

In [30]:
for items in lst:
    for item in items:
        print(item , " ")
    print("\n")

elephant
lion
tiger
goat
snake


man
policeman
fireman
teacher
postman


plane
bird
rocket
balloon
cat


onion
celery
lettuce
pineapple
potato


India
football
hockey
cricket
swimming


who
why
what
where
is


on
in
over
their
was


India
Australia
Japan
Russia
China


Dollar
Rupees
Euros
Cents
Money


eat
sleep
drink
think
dance


car
scooter
bike
bicycle
ship


Poland
Russia
England
Rome
Ukraine


Lake
Sea
River
Pool
Pond


Sun
Moon
Star
Mars
Egypt


fox
wolf
jackal
mouse
panther


veil
turban
helmet
shirt
hat


Physics
Chemistry
Geography
Botany
Universe


Assassinate
Kill
Kidnap
Stab
Murder


Hostel
Hotel
Inn
Club
Motel


Earth
Mars
Neptune
Pluto
Sun

In [32]:
ans = []

for item in lst:
    ans.append(odd_one_out(item))

print(ans)

(300,)
Similairy btw elephant and avg vector is 0.84
Similairy btw lion and avg vector is 0.74
Similairy btw tiger and avg vector is 0.83
Similairy btw goat and avg vector is 0.73
Similairy btw snake and avg vector is 0.73
(300,)
Similairy btw man and avg vector is 0.68
Similairy btw policeman and avg vector is 0.80
Similairy btw fireman and avg vector is 0.77
Similairy btw teacher and avg vector is 0.61
Similairy btw postman and avg vector is 0.75
(300,)
Similairy btw plane and avg vector is 0.66
Similairy btw bird and avg vector is 0.67
Similairy btw rocket and avg vector is 0.59
Similairy btw balloon and avg vector is 0.68
Similairy btw cat and avg vector is 0.58
(300,)
Similairy btw onion and avg vector is 0.83
Similairy btw celery and avg vector is 0.84
Similairy btw lettuce and avg vector is 0.83
Similairy btw pineapple and avg vector is 0.77
Similairy btw potato and avg vector is 0.82
(300,)
Similairy btw India and avg vector is 0.41
Similairy btw football and avg vector is 0.70
Similairy btw hockey and avg vector is 0.76
Similairy btw cricket and avg vector is 0.80
Similairy btw swimming and avg vector is 0.57
(300,)
Similairy btw who and avg vector is 0.54
Similairy btw why and avg vector is 0.81
Similairy btw what and avg vector is 0.79
Similairy btw where and avg vector is 0.67
Similairy btw is and avg vector is 0.47
(300,)
Similairy btw on and avg vector is 0.66
Similairy btw in and avg vector is 0.72
Similairy btw over and avg vector is 0.64
Similairy btw their and avg vector is 0.60
Similairy btw was and avg vector is 0.54
(300,)
Similairy btw India and avg vector is 0.79
Similairy btw Australia and avg vector is 0.71
Similairy btw Japan and avg vector is 0.79
Similairy btw Russia and avg vector is 0.74
Similairy btw China and avg vector is 0.82
(300,)
Similairy btw Dollar and avg vector is 0.69
Similairy btw Rupees and avg vector is 0.72
Similairy btw Euros and avg vector is 0.62
Similairy btw Cents and avg vector is 0.66
Similairy btw Money and avg vector is 0.55
(300,)
Similairy btw eat and avg vector is 0.76
Similairy btw sleep and avg vector is 0.69
Similairy btw drink and avg vector is 0.73
Similairy btw think and avg vector is 0.48
Similairy btw dance and avg vector is 0.55
(300,)
Similairy btw car and avg vector is 0.77
Similairy btw scooter and avg vector is 0.87
Similairy btw bike and avg vector is 0.88
Similairy btw bicycle and avg vector is 0.86
Similairy btw ship and avg vector is 0.39
(300,)
Similairy btw Poland and avg vector is 0.80
Similairy btw Russia and avg vector is 0.82
Similairy btw England and avg vector is 0.57
Similairy btw Rome and avg vector is 0.54
Similairy btw Ukraine and avg vector is 0.83
(300,)
Similairy btw Lake and avg vector is 0.76
Similairy btw Sea and avg vector is 0.60
Similairy btw River and avg vector is 0.75
Similairy btw Pool and avg vector is 0.54
Similairy btw Pond and avg vector is 0.73
(300,)
Similairy btw Sun and avg vector is 0.71
Similairy btw Moon and avg vector is 0.70
Similairy btw Star and avg vector is 0.59
Similairy btw Mars and avg vector is 0.65
Similairy btw Egypt and avg vector is 0.41
(300,)
Similairy btw fox and avg vector is 0.80
Similairy btw wolf and avg vector is 0.79
Similairy btw jackal and avg vector is 0.69
Similairy btw mouse and avg vector is 0.58
Similairy btw panther and avg vector is 0.76
(300,)
Similairy btw veil and avg vector is 0.71
Similairy btw turban and avg vector is 0.76
Similairy btw helmet and avg vector is 0.69
Similairy btw shirt and avg vector is 0.70
Similairy btw hat and avg vector is 0.73
(300,)
Similairy btw Physics and avg vector is 0.83
Similairy btw Chemistry and avg vector is 0.77
Similairy btw Geography and avg vector is 0.73
Similairy btw Botany and avg vector is 0.66
Similairy btw Universe and avg vector is 0.57
(300,)
Similairy btw Assassinate and avg vector is 0.69
Similairy btw Kill and avg vector is 0.68
Similairy btw Kidnap and avg vector is 0.74
Similairy btw Stab and avg vector is 0.70
Similairy btw Murder and avg vector is 0.74
(300,)
Similairy btw Hostel and avg vector is 0.63
Similairy btw Hotel and avg vector is 0.82
Similairy btw Inn and avg vector is 0.86
Similairy btw Club and avg vector is 0.58
Similairy btw Motel and avg vector is 0.81
(300,)
Similairy btw Earth and avg vector is 0.74
Similairy btw Mars and avg vector is 0.78
Similairy btw Neptune and avg vector is 0.67
Similairy btw Pluto and avg vector is 0.75
Similairy btw Sun and avg vector is 0.54
['snake', 'teacher', 'cat', 'pineapple', 'India', 'is', 'was', 'Australia', 'Money', 'think', 'ship', 'Rome', 'Pool', 'Egypt', 'mouse', 'helmet', 'Universe', 'Kill', 'Club', 'Sun']

In [37]:
ans_dfa = pd.DataFrame({"Odd One" : ans})

In [38]:
ans_dfa

      Odd One
0       snake
1     teacher
2         cat
3   pineapple
4       India
5          is
6         was
7   Australia
8       Money
9       think
10       ship
11       Rome
12       Pool
13      Egypt
14      mouse
15     helmet
16   Universe
17       Kill
18       Club
19        Sun

In [40]:
ans_dfa.to_csv('ans.csv',index = False)

In [ ]:
df= pd.read_csv("./ans.csv")
df